<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-au-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    {% block style_base %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% endblock %}

  </head>
  <body>

    <nav class="site-header sticky-top py-1 bg-light">
        <div id="navbarHeader" class="container d-flex flex-column flex-md-row justify-content-between">
            <h2 id="nav-name"><a style="text-decoration: none; color: black;" href="/">PATRICK BUZZO</a></h2>
            <a class="py-2 d-none d-md-inline-block" href="/skills">Skills</a>
            <a class="py-2 d-none d-md-inline-block" href="/projects">Projects</a>
            <a class="py-2 d-none d-md-inline-block" href="/resume">Resume</a>
            <a class="py-2 d-none d-md-inline-block" href="/certifications">Certifications</a>
            <a class="py-2 d-none d-md-inline-block" href="/contact">Get In Touch</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

</html>